*{
    box-sizing: border-box;
}



body .items-de-arriba   {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #000000;
}
body .items-de-arriba  .items-top-nav {
    display: flex;
    width: 65%;
    justify-content: space-between;
    background-color: black;


    
}

body .items-de-arriba  .items-top-nav .top-nav {
    width: 55%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

body .items-de-arriba  .items-top-nav .top-nav .item {
    display: flex;
    /* width: 5%; */
}

body .items-de-arriba  .items-top-nav .top-nav .msi img {
    height: 26px;
}

body .items-de-arriba  .items-top-nav .contacto-nav {
    display: flex;
    width: 45%;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    justify-content: end;
}

body .items-de-arriba  .items-top-nav .contacto-nav a {
    text-decoration: none;
}

body .items-de-arriba  .items-top-nav .contacto-nav .fa-solid {
    font-size: 15px;
    color: #c7c7c7;
}

body .items-de-arriba  .items-top-nav .contacto-nav span {
    color: #c7c7c7;
    font-size: 15px;
}

body .items-de-arriba  .items-top-nav .contacto-nav .telefono {
    align-items: center;
    display: flex;
    gap: 5px;
}

body .items-de-arriba  .items-top-nav .contacto-nav .mail {
    align-items: center;
    display: flex;
    gap: 5px;

}


body .menus  {
    width: 100%;
    background-color: #000000;
    justify-content: center;
    display: flex;
}
body .menus .menu{
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    background-color: black;
  

}
body .menus .menu a{
    color: #c9c9c9;
    font-size: 20px;
    text-decoration: none;
}
body .menus .menu a:hover{
    color: rgb(88, 200, 220);

}





body main  .mail-y-direccion{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 65%;
    margin-bottom: 50px;
    flex-wrap: wrap;
    gap: 20px;
}
body main  .mail-y-direccion .container1{
    min-width: 500px;
    width: 45%;
    display: flex;
    flex-direction: column;
    background-color: #fffefe;
}
body main  .mail-y-direccion .container1 .titulo{
    padding-top: 30px;
}
body main  .mail-y-direccion .container1 div{
    display: flex;
    flex-direction: column;
}
body main  .mail-y-direccion .container1 .info span{
    padding: 25px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.325);
}
body main  .mail-y-direccion .container1 span{
    padding: 10px;
    padding-left: 25px;
}
body main  .mail-y-direccion .container2{
    min-width: 25%;
    min-width: 500px;
    width: 45%;
    background-color: #fffefe;
}
body main .mail-y-direccion .container2 .formulario{
    display: flex;
    gap: 20px;
    width: 100%;
    /* background-color: aqua  ; */
    flex-direction: column;
    justify-content: center ;
    align-items: center ;
    margin-top: 10px;
}
body main .mail-y-direccion .container2 .formulario .nombre-mail{
    width: 90%;
    display: flex;
    justify-content: space-between;
}
body main .mail-y-direccion .container2 .formulario .nombre-mail input{
    /* width: 45%; */
    border: 1px solid #eaeaea;
    border-radius: 4px;
    outline: 0;
    position: relative;
    padding: 20px;
    width: 90%;
}
body main .mail-y-direccion .container2 .formulario .mensaje{
    display: flex;
    width: 90%;
}
body main .mail-y-direccion .container2 .formulario .mensaje input{
    border: 1px solid #eaeaea;
    border-radius: 4px;
    outline: 0;
    position: relative;
    padding: 20px;
    width: 100%;
    overflow: scroll;
}
body main .mail-y-direccion .container2 .formulario .boton{
    width: 90%;
    justify-content: center;
    
}
body main .mail-y-direccion .container2 .formulario .boton button{
    width: 100%;
    border: 2px solid transparent;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    background-color:rgb(0, 191, 255);
    font-size: 14px;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 40px;
}
body main .mail-y-direccion .container2 .direccion {
    width: 100%;
    justify-content: center;
    display: flex;
    padding-bottom: 10px;
}
body main .mail-y-direccion .container2 .direccion iframe{
    width: 90%;
    height: 400px
    
}
@media (max-width:900px) and (min-width:300px){
    body main .mail-y-direccion{
        width: 100%;
        justify-content: center;
        flex-direction: column-reverse;
    }
    
}