@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    font-family: "Roboto", serif;
}
body {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    flex-direction: column;
    position: relative;

}

body header {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color: black;
    /* position: relative; */
    position: sticky;
    top: 0;
    z-index: 6;
}

body .items-de-arriba   {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #000000;
}
body .items-de-arriba  .items-top-nav {
    display: flex;
    width: 65%;
    justify-content: space-between;
    background-color: black;


    
}

body .items-de-arriba  .items-top-nav .top-nav {
    width: 55%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

body .items-de-arriba  .items-top-nav .top-nav .item {
    display: flex;
    /* width: 5%; */
}

body .items-de-arriba  .items-top-nav .top-nav .msi img {
    height: 26px;
}

body .items-de-arriba  .items-top-nav .contacto-nav {
    display: flex;
    width: 45%;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    justify-content: end;
}

body .items-de-arriba  .items-top-nav .contacto-nav a {
    text-decoration: none;
}

body .items-de-arriba  .items-top-nav .contacto-nav .fa-solid {
    font-size: 15px;
    color: #c7c7c7;
}

body .items-de-arriba  .items-top-nav .contacto-nav span {
    color: #c7c7c7;
    font-size: 15px;
}

body .items-de-arriba  .items-top-nav .contacto-nav .telefono {
    align-items: center;
    display: flex;
    gap: 5px;
}

body .items-de-arriba  .items-top-nav .contacto-nav .mail {
    align-items: center;
    display: flex;
    gap: 5px;

}

body header .main-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #252525;
    justify-content: center;
    align-items: center;  
}

body header .main-header .main-header-nav {
    width: 65%;
    flex-direction: row;
    padding: 10px 0px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    
}

body header .main-header .main-header-nav .logo {
    display: flex;
    width: 20%;
    margin: 0;
    padding: 0;
}

body header .main-header .main-header-nav .logo img {
    width: 100%;
}

body header .main-header .main-header-nav .buscador {
    width: 40%;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    overflow: hidden;
}

body header .main-header .main-header-nav .buscador input[type=text] {
    display: flex;
    height: 35px;
    /* border: 1px solid white; */
    /* border-radius: 4px ; */
    width: 100%;
    border: none;
    background-color: transparent;
    color: rgb(0, 0, 0);
    font-size: 18px;

}

body header .main-header .main-header-nav .buscador button {
    font-size: 20px;
    border: none;
    background-color: none;
    display: flex;
    /* padding:3px; */
    /* position: absolute; */
    right: 780px;
    cursor: pointer;
}

body header .main-header .main-header-nav .buscador button i {
    background-color: none;
    color: gray;

}

body header .main-header .main-header-nav .buscador input[type=text]:focus-visible {
    outline: none;

}

body header .main-header .main-header-nav .seccion2 {
    display: flex;
    gap: 10px;
}

body header .main-header .main-header-nav .seccion2 .RRSS {
    color: white;
    font-size: 25px;
}

body header .main-header .main-header-nav .seccion2 .redes {
    display: flex;
    gap: 20px;
    align-items: center;
}

body header .main-header .main-header-nav .seccion2 .redes .fa-brands {
    font-size: 25px;
    color: white;
}

body header .main-header .main-header-nav .seccion2 .usuario-carrito {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

body header .main-header .main-header-nav .seccion2 .usuario-carrito .fa-solid {
    font-size: 25px;
    color: white;
}

body header .main-header .main-header-nav .seccion2 .usuario-carrito .fa-regular {
    color: white;
    font-size: 25px;
    padding-left: 10px;
}
body header .main-header .main-header-nav .ventana-carrito {
    color: white;
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: #c7c7c7;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: none;
    border: 1px solid blue;
    border-radius: 50%;
    background-color: #2790fb;
    right: -10px;
    top: -10px
    
}
/* body header .main-header .main-header-nav .seccion2 .usuario-carrito:hover .ventana-carrito {
    left: 1300px;
    top: 70px;
    display: flex;
} */

#rgbar {
    animation: example 10s infinite;
    width: 100%;
    background: linear-gradient(45deg, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 255, 1) 18%, rgba(0, 0, 255, 1) 30%, rgba(0, 240, 255, 1) 45%, rgba(0, 255, 0, 1) 63%, rgba(255, 255, 0, 1) 80%, rgba(255, 120, 0, 1) 90%, rgba(255, 0, 0, 1) 100%);  
    height: 3px;
    background: rgba(255, 0, 89, 1);
    background: linear-gradient(45deg, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 255, 1) 18%, rgba(0, 0, 255, 1) 30%, rgba(0, 240, 255, 1) 45%, rgba(0, 255, 0, 1) 63%, rgba(255, 255, 0, 1) 80%, rgba(255, 120, 0, 1) 90%, rgba(255, 0, 0, 1) 100%);
    background-size: 400% 400%;
}
@keyframes example {
    0% {
        background-position: 400% 0%;
    }
    100% {
        background-position: 0% 400%;
    }
  /* 0%   {background: linear-gradient(45deg, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 255, 1) 100%) ;}
  100% {background: linear-gradient(45deg,rgba(255, 255, 0, 1) 0%, rgba(255, 120, 0, 1) 100% ) ;} */

}
body .menus  {
    width: 100%;
    background-color: #000000;
    justify-content: center;
    display: flex;
}
body .menu{
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    background-color: black;
  

}
body .menu a{
    color: #c9c9c9;
    font-size: 20px;
    text-decoration: none;
}
body .menu a:hover{
    color: rgb(88, 200, 220);

}
body main  {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #eaebea;

}
body main .banner {
    
    width: 100%;
}
body main .banner img{
    width: 100%;
}
body main section{
    width: 65%;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    justify-content: center;
    align-items: center;
}
body main section h2{
    font-size: 35px;
    font-style: oblique
}
body main section .categorias{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;    
    flex-wrap: wrap;    
    flex-shrink: 0;
}
body main section .categorias a{
    min-width: 200px;
    display: flex;
    border: 1px solid rgba(128, 128, 128, 0.372);
    width: 24%;
    height: 200px;
    text-decoration: none;
    margin-bottom: 30px;
    
}
body main section .categorias a:hover{
    box-shadow: 0px 15px 20px  rgba(0, 0, 0, 0.285);
}
body main section .categorias a .cajas{
    
    /* min-width: 200px; */
    width: 100%;
    height: 100%;
    display: flex;
    /* background-color: #fffefe; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
    flex-grow: 1;
}
body main section .categorias a .cajas i{ 
    font-size: 40px;
    color: rgb(0, 191, 255);
}
body main section .categorias a .cajas img{ 
    width: 30%;
}

body main section .categorias a .cajas span{
    color: gray;
    font-size: 20px;

}
body main .seccion2 {
    display: flex;
    width: 65%;
    /* background-color: #2790fb; */
    /* justify-content: space-between; */
    flex-direction: column;
}
body main .seccion2 .cuadros{
    flex-direction: column;
    display: flex;
    width: 100%;
    gap: 30px;
}
body main .seccion2 .cuadros .cuadro1 {
    justify-content: space-between;
    width: 100%;
    /* background-color: #252525; */
    flex-direction: row;
    display: flex;
    /* justify-content: space-between; */
    /* gap: 30px; */
    
}
body main .seccion2 .cuadros .cuadro1 .uno{
    display: flex;
    flex-direction: row;
    width: 49%;
    background-color: #000000;
}
body main .seccion2 .cuadros .cuadro1 .uno img{
    width: 100%;
}
body main .seccion2 .cuadros .cuadro1 .dos {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    width: 49%;
    
}
body main .seccion2 .cuadros .cuadro1 .dos .img1{
    width: 48%;
}

body main .seccion2 .cuadros .cuadro2 {
 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
body main .seccion2 .cuadros .cuadro2 .imgs2{
    height: 150px;
    width: 49%;
}   
body main .seccion2 .cuadros .cuadro2 .horarios{
    width: 23%;
   height: 150px;

}
body main .seccion2 .cuadros .cuadro2 .horarios img{
    width: 100%;

}
body main .seccion2 .cuadros .cuadro2 .img2 img{
    width: 100%;
}
body main .seccion2 .cuadros .cuadro2 iframe{
   
    width: 24%;
    height: 150px;
}


body main .destacados {
    width: 65%;
    margin-top: 40px;
    margin-bottom: 20px;

    display: flex;
    justify-content: center;
}
body main .destacados span {
    font-size: 35px;
    font-style: oblique;
    font-style: italic;
    font-weight: 500;
    text-align: center;
    animation: color  5s linear infinite ;

}
@keyframes color{
    from{
        color: rgba(0, 240, 255, 1) ;
    }to{
        color :  rgba(0, 0, 255, 1) ;
    }to{
    }
}
body main .slider {
    width: 65%;
    /* height: 1000px; */
    height: var(--height);
    overflow: hidden;
    padding-bottom: 250px;
}
body main .slider .list:hover .tarjeta:not(:hover) {
    filter: grayscale(1);
}
body main .slider .list {
    display: flex;    
    width: 100%;
    gap: 10px;
    /* flex-wrap: wrap; */
    flex-direction: row;
    /* background-color: aqua; */
}
body main .slider .list .tarjeta {
    width: 22%;
    flex-shrink: 0;
    /* height: 142px; */
    /* padding: 55px; */
    background-color: white;
    animation: scroll 18s linear infinite;
    padding-top: 10px;
    /* height: 100%; */
    min-width: 20%;
    justify-content: center;
    align-items: center;
}
body main .slider .list .tarjeta:hover {
    box-shadow: 0px 15px 20px  rgba(0, 0, 0, 0.285);
}
body main .slider .list:hover .tarjeta{
    animation-play-state: paused;

}

body main .slider .list .tarjeta img {
    width: 90%;
    height: 300px;
    object-fit: fill;
}
body main .slider .list .tarjeta a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    font-size: 20px;
    text-align: center;
    /* background-color: rgb(0, 0, 0); */
    height: 90%;
}
body main .slider .list .tarjeta p {
    width: 90%;
    height: 50px;
    text-align: start;
    overflow: hidden;
}
body main .slider .list .tarjeta .precio  {
    height: 10% ;
    display: flex;
    width: 90%;
    justify-content: start;
    /* align-self: self-start; */
}
body main .slider .list .tarjeta  span {
    font-size: 25px;
    color: #2790fb;
   
}
@keyframes scroll{
    to{
        transform: translateX(-1500%);
    }
}   
body main .slider .list .tarjeta button{
    width: 100%;
    height: 10%;
    background-color: white;
    border: 3px solid #2790fb;
    border-radius: 8px;
    cursor: pointer;
    align-items: center;
    margin-bottom: 10px;
} 

body main .slider .list .tarjeta button span{
    font-size: 20px;
    color: #2790fb;
}
body main .slider .list .tarjeta button:hover{
    background-color: #2790fb;
}
body main .slider .list .tarjeta button:hover .fa-solid{
    color: white;
}
body main .slider .list .tarjeta button .fa-solid{
    font-size: 20px;
}
body main .slider .list .tarjeta button:hover span{
    color: white;
}

body main .mejores{
    display: flex;
    width: 65%;
    margin-bottom: 30px;
    margin-top: 70px;
}
body main .mejores span{
    font-size: 35px;
    font-style: oblique;
    font-style: italic;
    font-weight: 500;
    text-align: center;
    width: 100%;

}
body main .slider2{
    display: flex;
    flex-direction: row;
    width: 65%;
    align-items: center;
    justify-content: center;
    position: relative;
}
body main .slider2 .lista{
    overflow: scroll;
    gap: 10px;
    display: flex;
    width: 100%;
    /* flex-wrap: wrap; */
    flex: none;
}
body main .slider2 .lista:hover .tarjeta:not(:hover){
    filter: grayscale(1);
}
body main .slider2 .lista::-webkit-scrollbar{
    display: none;

}
body main .slider2 button {
    position: absolute;
    z-index: 1; 
    border: none;
    padding: 8px 15px;
    border-radius: 30px;
    cursor: pointer;
}
body main .slider2 button:hover{
    box-shadow: 10px 15px 20px  rgba(0, 0, 0, 0.285);
     }
body main .slider2  .next {
    background-color: white;
    right: -2%;
    color: #2790fb;
    font-size: 30px;
}

body main .slider2  .prev{
    background-color: white;
    color: #2790fb;
    left: -2%;
    font-size: 30px;

}
body main .slider2 .lista .tarjeta{
    flex-shrink: 0; 
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
    justify-content: center;
    background-color: #fffefe;
    filter: grayscale(0);
    transition: transform 0.5s;
}
body main .slider2 .lista .tarjeta:hover{
    /* filter: grayscale(100); */
    transform: scale(1.1);
}

body main .slider2 .lista .tarjeta .imagen-fondo{
    width: 30%;
    padding-top: 10px;
}
body main .slider2 .lista .tarjeta .imagen-fondo img{
    width: 100%;
    
}
body main .slider2 .lista .tarjeta a {
    width: 100%;
    display: flex;
    flex-direction: row;
    /* background-color: #252525; */
}
body main .slider2 .lista .tarjeta a .imagenes-main {
    width: 33.3%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
body main .slider2 .lista .tarjeta a .imagenes-main img {
    width: 100%;

}
body main .slider2 .lista .tarjeta .vermas {
    width: 40%;
    padding: 20px 0px;
    text-decoration: none;
    justify-content: center;
    
}
body main .slider2 .lista .tarjeta .vermas span{
    font-size: 20px;
    color: #2790fb;

}
body main .vermarcas{
    width: 65%;
    display: flex;
    justify-content: center;
    margin-top: 30PX;   
    margin-bottom: 30px; 
}
body main .vermarcas button{
    padding: 10px;
    font-size: 20px;
    border: 1px #2790fb solid;
    background-color: #fffefe;
    border-radius:4px;
    color: #2790fb;
    cursor: pointer;
}
body main .vermarcas button:hover{
    background-color: #2790fb;
    color: white;
}
body footer{
    background-color: #fffefe;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}
body footer .filas{
    width: 65%;
    display: flex;
    flex-direction: row;
    
}
body footer .fila1{
    width: 50%;
    gap: 20px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
body footer .fila1 a{
    text-decoration: none;
    color: #636363;
}
body footer .fila2{
    margin-top: 40px;
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    flex-direction: column;
}
body footer .fila2 a{
    text-decoration: none;
    color: #636363;

}
body footer a{
    text-decoration: none;

}
body footer .sub-footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
}
body footer .sub-footer .container{
    display: flex;
    width: 65%;
   background-color: #000000;
    justify-content: space-evenly;
    border-radius: 10px;
    align-items: center;
    animation: rgbBg 1s linear infinite;
}
@keyframes rgbBg{
    from{
        background-color:rgba(118, 185, 0, 1) ;
        
      
    }to{
        background-color:rgba(2, 158, 255, 1) ;
       
    }
}
body footer .sub-footer .container img{
    display: flex;
    width: 4%;
    padding-top: 10px;
    padding-bottom: 10px;

}
body footer .sub-footer .container p{
    width: 80%;
    color: white;
}
body footer .final-definitivo{
    width: 65%;
    padding: 20px;
    font-size: 15px;
}
body .contacto{
    position: fixed;
    bottom: 100px;
    right: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #2790fb;
    border-radius: 10px;
    background-color: #2790fb;
    padding: 10px;
    animation: rarete ease  5s infinite;
    z-index: 5;
}
body .contacto a{
    color: #fffefe;
    align-items: center;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    text-decoration: none;
    width: 100%;
}
body .api{
    position: fixed;
    bottom: 200px;
    right: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #b51f92;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 10px;
    /* animation: rarete ease  5s infinite; */
    z-index: 5;
    width: 100px;
}
body .api a{
    color: #fffefe;
    align-items: center;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    text-decoration: none;
    width: 100%;
}
body .api a span{
    color: #000000;
    font-size: 20px;
}
body .api div {
    flex-direction: row;
    display: flex;
}
body .api div img{
    width: 50%;
}
body  .barra-inferior{
    display: none;
    align-items: center;
    width: 100%;
    background-color: #2790fb;
    justify-content: space-around;
    position: sticky;
    bottom: 0;
    z-index: 8;
}
body  .barra-inferior div{
    display: flex;
    flex-direction: column;
    width: 20%;
}
body  .barra-inferior div img{
    width: 80%;
}
body  .barra-inferior div a{
    text-decoration: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
body  .barra-inferior div a .fa-solid,body .barra-inferior div a .fa-regular{
    font-size: 20px;
    color: #fffefe;
}
body  .barra-inferior div a span{
    font-size: 15px;
    color: #fffefe;
}

@keyframes rarete{
    from{
       background-color: #2790fb;
    }to{
        background-color: #fb2727;
    }
}
@media (max-width:1500px) and (min-width:1200px){
    body .items-de-arriba  .items-top-nav{
        width: 80%;
    }
    body .items-de-arriba  .items-top-nav .top-nav{
        width: 80%;
    }
    body main section {
        width: 80%;
    }
    body header .main-header .main-header-nav {
        width: 80%;    
    }
    body .menus  .menu{
        width: 80%;    
    }
    body  .menus .menu{
        width: 80%;    
    }
    body main .seccion2 {
        width: 80%;    
    }
    body main .slider {
        width: 80%;    
    }
    body main .slider2{
        width: 80%;    
    }
    body main .slider2 .lista .tarjeta{
        width: 30%;    
    }
    body main .slider2  .next {
        right: 0%;
    }
    body main .slider2  .prev {
        left: 0%;    
    }
    body footer .filas{
        width: 80%;
    }
    body .contacto{
        bottom: 50px ;
        right: 50px;
    }


}
@media (max-width:1200px) and (min-width:900px){
    body .items-de-arriba .items-top-nav{
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    body header .main-header .main-header-nav {
        width: 100%;    
    }
    body .menus .menu{
        width: 100%;    
    }
    body main .seccion2 {
        width: 100%;    
    }
    body main section {
        width: 100%;
    }
    body main section .categorias{
        width: 100%;
        flex-grow: 1;
        justify-content: center;
        margin-top: 0;
    }
    body main section .categorias a{
        flex-grow: 1;
    }
    body main .slider {
        width: 100%;    
    }
    body main .slider .list .tarjeta  {
        width: 30%;
    }
    body main .slider .list .tarjeta p {
        font-size: 20px;    
    }
    body main .slider2{
        width: 100%;    
    }
    body main .slider2  .next {
        right: 0%;
    }
    body main .slider2  .prev {
        left: 0%;    
    }
    body footer .filas{
        width: 90%;

    }
    body footer .sub-footer .container {
        width: 100%;
    }
    body footer .sub-footer .container img{
        width: 7%;
    
    }
    body footer .sub-footer .container p{
        width: 90%;
        color: white;
    }
    body footer .final-definitivo{
        width: 90%;
        
    }
    body .contacto{
        display: none;    
    }
   

}
@media (max-width:900px) and (min-width:300px){
    body header{
        display: none;
    }
    body .menus .menu{
        display: none;    
    }
    body .items-de-arriba .items-top-nav{
        display: none;    
    }
    body main .banner {
        display: none;
    }
    body main section {
        width: 100%;
    }
    body main section .categorias{
        width: 100%;
        flex-grow: 1;
        justify-content: center;
        margin-top: 0;
    }
    body main section .categorias a{
        flex-grow: 1;  
    }
    body main .seccion2 {
        display: none;   
    }
    body main .slider {
        width: 100%;    
    }
    body main .slider .list .tarjeta  {
        width: 40%;
    }
    body main .slider .list .tarjeta p {
        font-size: 20px;    
    }
    body main .slider2{
        width: 100%;    
    }
    body main .mejores span{
        font-size: 30px;
    }
    body main .slider2 .lista .tarjeta{
        width: 40%;    
    }
    body main .slider2  .next {
        right: 0%;
    }
    body main .slider2  .prev {
        left: 0%;    
    }
    body footer .filas{
        width: 100%;
        justify-content: center;
    }
    body footer .filas .filas .fila1{
        padding-left: 90px;
    }
    body footer .sub-footer .container {
        width: 100%;
        flex-direction: column;
    }
    body footer .sub-footer .container img{
        width: 10%;
    
    }
    body footer .sub-footer .container p{
        width: 90%;
        color: white;
        font-size: 15px;
    }
    body footer .final-definitivo{
        width: 90%;
        
    }
    body .contacto{
        display: none;    
    }
    body  .barra-inferior {
        display: flex;
        min-height: 50px;
    }
}
